 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,300;1,200;1,300;1,600;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans&family=Poppins:ital,wght@0,100;0,300;1,200;1,300;1,600;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&display=swap'); */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;

}

body {
    
    overflow-x:hidden;

}

.contain {
    position:fixed;
    width: 100%;
    

    
}

.sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.2s;
    overflow-y: auto;
    
}

.sidebar.active {
    width: 20px;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #03a9f4;

}

.sidebar ul li:nth-child(1) {
    margin-bottom: 40px;
}

.sidebar ul li:nth-child(1):hover {
    background: transparent;
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;


}
.MainContentView{
    width: 100%;
    padding-left: 20px;
}
.sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .icon .fa {
    color: #fff;
    font-size: 24px;
}

.sidebar ul li a .title {
    position: relative;
    display: block;
    padding: 0 5px;
    height: 60px;
    line-height: 40px;
    white-space: normal;

}
.sidebar ul li a h2{

    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/* .sidebar ul li a span h2 {
    padding-left: 4rem;
} */

/* header */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    /* background: #f5f5f5; */
    transition: 0.2s; 
    overflow: auto;
}

.main.active {
    width: calc(100% - 20px);
    left: 30px;
}

.main .topbar {
    width: 100%;
    padding: 0 10px;
    display: flex;
    background: rgb(247, 244, 244);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;

}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 20px;

}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search label .fa {
    position: absolute;
    left: 10px;
    top: 8px;

}

.user {
  display: flex;
  align-items: center;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 25rem;
    object-fit: cover;
}

.user h6{
    color: #03a9f4;
}

.user small {
    color: #999;
    display: inline-block;
}

.main .cardbox {
    position: absolute;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    overflow-y: scroll;
}

.main .cardbox .card {
    position: relative;
    background: rgb(212, 211, 211);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.main .cardbox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}
.main .cardbox .card .cardname {
    color: #999;
}


/* make responsive */

 @media(max-width:992px)
{
    .sidebar{
        left:-300px;

    }
    .sidebar.active
    {
        left: 0;
        width:300px;
    }
    .main{
        width: calc(100%-300px);
        left: 300px;
    }
    .cardbox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:480px)
{ */
    .cardbox{
        grid-template-columns: repeat(1,1fr);
    }
    .sidebar{
        width: 100%;
        left: 0;
        z-index: 1000;
    }
    .sidebar.active{
        width: 100%;
        left: 0;
    }
    .toggle.active{
        z-index: 1000;
        right: 0;
        left: initial;
        position: fixed;
    }
    .toggle.active::before{
        color: #fff;

    }
    .main,
    .main.active{
        width: 100%;
        left: 0;
    }
} 